<div class="center">
    <p class="restaurants-title">Restaurants</p>
    <div id="restaurants-cont" class="restaurants-cont">
        {{#each restaurants}}
            <div id="{{this.id}}" style="background-image: url({{this.image}});" class="restaurants-items">
                <div>
                    <p class="restaurants-name">{{this.name}}</p>
                    {{!-- <img class="restaurants-image" src="{{this.image}}"> --}}
                </div> 
            </div>
            <script>



                document.getElementById("{{this.id}}").onclick = ()=>{
                    $("#container").slideUp(300, function(){
                        window.location.href = '/restaurant/{{this.id}}'
                    })
                }    
            </script>
            {{!-- <div class="restaurants-items">1</div>
            <div class="restaurants-items">1</div>
            <div class="restaurants-items">1</div>
            <div class="restaurants-items">1</div>
            <div class="restaurants-items">1</div> --}}
        {{/each}}

        
    </div>

    <div class="tooltip" id="tooltip">Click for more info</div>


    <script>
        let mouseX, mouseY;
        window.onmousemove = (e) => {
            mouseX = e.clientX;
            mouseY = e.clientY;

            let tooltip = document.getElementById("tooltip");
                tooltip.style.top = (mouseY - 70 + window.scrollY)+ "px";
                tooltip.style.left = (mouseX + 0) + "px";
            
        };


        let timers = [];
        function mouseOver(state){
            if (state){
                let tooltip = document.getElementById("tooltip");
                let timer = setTimeout(()=>{
                    tooltip.style.display = "block";
                    tooltip.style.opacity = 1;
                }, 1000)
                timers.push(timer);
            }
            else{
                let tooltip = document.getElementById("tooltip");
                tooltip.style.display = "none"
                tooltip.style.opacity = 0;
                timers.forEach((timer)=>{
                    clearTimeout(timer);
                })
            }
        }

        let restaurants = document.getElementsByClassName("restaurants-items");
        for (let i= 0; i < restaurants.length; i++){
            
            restaurants[i].onmouseover = () =>{
                mouseOver(true)
            }
            restaurants[i].onmouseleave = () => {
                mouseOver(false)
            }
        }

        $("#container").css('visibility', 'visible');
        $("#container").hide();
        $("#container").slideDown(800)
    </script>
</div>