<div class="center2">
    <h1 class="menu-title">{{restaurant.name}}</h1>
    <div class="menu-cont">
        <div class="menu-item">
            <div>
                <img class="menu-image" src="{{restaurant.image}}" alt="{{restaurant.name}}'s Image">
                <div>
                    {{#each restaurant.menus}}
                        <div class="single-menu-cont">
                        <p class="menu-title2">{{this.title}}</p>
                        {{#each this.items}}
                            <p class="menu-item-text">{{this.name}} <br><strong>£{{this.price}}</strong></p>
                        {{/each}}
                        </div>
                    {{/each}}
                </div>
            </div>          
        </div>
    </div>
</div>

<script>
    $("#container").css('visibility', 'visible');
    $("#container").hide();
    $("#container").slideDown(800)
</script>
