<h1 class="menu-title">{{restaurant.name}}</h1>
<div class="menu-cont">
        <div class="menu-item">
            <div>
                <img class="menu-image" src="{{restaurant.image}}">
                <div>
                    {{#each restaurant.menus}}
                        <h2>{{this.title}}</h2>
                        {{#each this.items}}
                            <p>{{this.name}} <br><b>£{{this.price}}</b></p>
                        {{/each}}
                    {{/each}}

                </div>
            </div>          
        </div>
</div>

